@use 'colors';

.footer {
    @extend %container;
    @extend %flex-between;
    gap: 88px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid colors.$border;

    &__logo {
        @extend %link;
        font-weight: 700;
    }

    &__nav {
        @extend %nav;
        margin-left: auto;
    }

    &__link {
        @extend %link;

        &:hover {
            color: colors.$muted;
        }
    }

    &__social {
        display: flex;
        gap: 24px;

        img {
            width: auto;
            height: 15px;
        }

        a:hover {
            opacity: 0.6;
        }
    }
}
