@use 'fonts';
@use 'colors';

.intro {
    @extend %section;
    @include columns(2fr 1fr, 120px);

    &__title {
        @extend %page-title;
    }

    &__paragraph {
        @extend %body-text;
        margin-bottom: 20px;
    }

    &__row {
        display: grid;
        grid-template-columns: 135px 1fr;
        padding: 21px 0;
        border-bottom: 1px solid colors.$border;
        font-size: fonts.$font-normal;

        dt {
            color: colors.$muted;
            font-weight: 600;
        }

        dd {
            font-weight: 700;
        }
    }
}

.project {
    &__hero,
    &__text {
        margin-bottom: 40px;
    }

    &__text {
        @extend %body-text;
    }

    &__images {
        @include columns(repeat(3, 1fr), 24px);

        img {
            @extend %image-hover;
            height: 100%;
            object-fit: cover;
        }
    }
}
